{% extends "base.html" %}

{% block header %}
<h2>{{ article.arxiv_id }} - {{ article.title }}</h2>
{% endblock %}

{% block content %}
    <div>
        {{ render_article(article) }}
        <span>Created: {{ article.created }}</span>
        <span>Updated: {{ article.updated }}</span>
    </div>
    <div>{{ article.abstract }}</div>
    <div>{{ article.comments }}</div>
    <div><a href="http://dx.doi.org/{{ article.doi }}">{{ article.doi }}</a></div>
    <div>{{ article.journalref }}</div>
{% endblock %}
