{% extends "base.html" %}
{% block header %}
    <h2>Author: {{ author.forenames }} {{ author.lastname }}</h2>
{% endblock %}

{% block nav_content %}
  <ul class="nav nav-list">
        <li class="nav-header">Similar Names</li>
        {% for sa in similar_authors %}
            <li><a href="{{ url_for('author', id=sa.id) }}">{{ sa.forenames }} {{ sa.lastname }}</a></li>
        {% endfor %}
        <li class="nav-header">Collaborators</li>
         {% for c in collaborators %}
            <li><a href="{{ url_for('author', id=c[0].id) }}">{{ c[0].forenames }} {{ c[0].lastname }} ({{ c[1] }})</a></li>
        {% endfor %}

    </ul>
{% endblock %}

{% block content %}

    {{ render_articles(articles,'author') }}

{% endblock %}

