{% from "macros.html" import render_article %}
<html>
<head>
    {% if title %}
        <title>Arxiver - {{ title }}</title>
    {% else %}
        <title>Arxiver</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='arxiver.css') }}" media="screen" />
</head>
<body>
<div>Arxiver:
    <a href="{{ url_for('index') }}">Home</a>
    {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>
<hr/>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}
<script src="{{ url_for("static", filename="js/jquery-1.11.0.js") }}"></script>
<script src="{{ url_for("static", filename="js/arxiver.js") }}"></script>


</body>
</html>
