{% extends "base.html" %}
{% block content %}
    <h1>{{ user.nickname }}</h1>
    <div>{{ user.fullname }}</div>
    <div>{{ user.email }}</div>

    <h3>Followed feeds:</h3>

    <a href="{{ url_for('feed',id=None) }}">New Feed</a>
    <table>
    <tr><th>Feed</th><th>Email</th></tr>
        {% for s in user.subscriptions %}
            <tr>
                <td><a href="{{ url_for("feed",id=s.feed.id) }}">{{ s.feed.name }}</a></td>
            <td><input type="checkbox" checked="{{ s.enable_email }}"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}