{% extends "base.html" %}
{% block header %}
    <h1>{{ user.fullname }} ({{ user.nickname }})</h1>
        <div>Email: {{ user.email }}</div>

{% endblock %}
{% block content %}

    <h2>Followed feeds:</h2>

    <a href="{{ url_for('feed',id=None) }}">New Feed</a>
    <table>
    <tr><th>Feed</th><th>Email</th></tr>
        {% for s in user.subscriptions %}
            <tr>
                <td><a href="{{ url_for("feed",id=s.feed.id) }}">{{ s.feed.name }}</a></td>
            <td><input type="checkbox" checked="{{ s.enable_email }}"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}